
h1{
    font-size : 70px;
    text-align: center;
    border: 5px black solid;
    padding: 20px;
    margin: 20px;
    text-decoration: none;
    font-family: 'GangwonState';
   
}
@font-face {
    font-family: 'GangwonState';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/GangwonState.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
h2{
    font-family: 'GangwonState';
    font-size : 45px; 
    text-align: center;
    border: black solid 1px;
    padding : 20px;
    margin-left: 600px;
    margin-right: 600px;
    margin-bottom: 0;
}
table, td, th {
    border-collapse : collapse;
    border : 1px solid black;
    font-size: 30px;
    text-align: center;
    width: 500px;
}
table {

    margin-left: auto;
    margin-right: auto;
}
input{
    font-size: 20px;
    position :relative;
    left : 1600px;
}
#menu{
    font-family: 'GangwonState';
    font-weight: 100;
    height: 30px;
    width: auto;
    outline: black solid 1px;
    margin-left: 20px;
    margin-right: 20px;
}
#menu ul{
    width : 1000px;
    margin : 0 auto;
    overflow: hidden;
}
#menu ul li{
    font-size: 30px;
    float :left;
    width: 25%;
    height: 60px;
    line-height: 30px;
    text-align: center;
}
#menu ul li a{
    display :block;
    
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}